@-moz-document domain("tweetdeck.twitter.com") {
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);

/* Applying font */

body
{
    font-family: 'Open Sans', sans-serif;
}

.is-inverted-dark
{
    font-family: "Open Sans", sans-serif;
}

/* Fixing RT blocks font color */

.js-mdl-header, .mdl-header
{
    color: #cccccc;
}

#actions-modal > div > div.js-inreply.cmp-replyto.item-box.is-inverted-dark > div > div > p
{
    color: #cccccc;
}

/* Compose box colors and padding */

.js-compose-title
{
    margin-left: 1px !important;
}

.padding-bm
{
    padding-right: 22px;
}

.drawer .tweet-text
{
    color: #fff !important;
}

.compose-remember-state, .character-count-compose:disabled, .txt-r-text-link
{
    color: #fff !important;
}

.compose-text-title
{
    color: #fff;
}

.compose-text
{
    background-color: #1D1D1D;
    color: #ccc;
    border-color: #1D1D1D;
}

.compose-text-container
{
    margin-right: 0px !important;
    margin-left: 0px !important;
    margin-top: 5px;
    border-color: #1D1D1D !important;
    background-color: #1D1D1D !important;
}

.compose-reply-tweet
{
    margin-left: 0px !important;
    margin-right: 0px !important;
    margin-top: 5px;
}

.compose-media-bar
{
    border: 1px solid #1D1D1D;
}

.compose-accounts
{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.compose-reply-tweet .tweet-body a
{
    color: #fff !important;
}

.txt-r-white
{
    color: #fff;
}

.compose-media-bar-holder
{
    background-color: #1D1D1D;
}

body > div.js-app.application.is-condensed.hide-detail-view-inline > div.js-app-content.app-content > div > div > div > div > div.js-account-list.margin-bm.compose-accounts.cf.is-list > a.js-account-item.compose-account.margin-bl.is-actionable.is-selected.cf > div.pull-left.compose-account-names
{
    color: #fff;
}

body > div.js-app.application.is-condensed.hide-detail-view-inline > div.js-app-content.app-content > div > div > div > div > div.js-account-list.margin-bm.compose-accounts.cf.is-list > a > div.pull-left.compose-account-names
{
    color: #fff;
}
/* Dropdown menus tweaks */

body > div.js-app.application.is-condensed > header > div > div.js-search.js-overlay.app-search > div > div
{
    background-color: #1D1D1D;
}

.list-item
{
    color: #ccc;
}

body > div.js-app.application.is-condensed > header > div > div.js-search.js-overlay.app-search > div > div > div.js-popover-content.scroll-none > form > div > input
{
    background-color: #1D1D1D;
    color: #ccc;
}

body > div.js-app.application.is-condensed > header > div > div.js-search.js-overlay.app-search > div > div > div.js-popover-content.scroll-none > div.js-typeahead-dropdown.scroll-v.scroll-styled-v > div
{
    background-color: #1D1D1D;
}

.caret-inner
{
    border-bottom: 6px solid #1D1D1D;
}

body > div.js-app.application.is-condensed > header > div > nav > div
{
    background-color: #1D1D1D;
    border-color: #1D1D1D;
}

.non-selectable-item
{
    color: #ccc;
}

.dropdown-menu [data-action]
{
    color: #ccc;
}

.drp-h-divider
{
    background-color: #ccc;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.prf-meta.cf > div > div > div > span > div
{
    background-color: #1D1D1D;
    border-color: #1D1D1D;
}

/* Profile tweaks */

.prf-actions
{
    background-color: #1D1D1D !important;
}

.prf-meta.cf
{
    background-color: #1D1D1D !important;
}

.prf .lst-profile span
{
    color: #ccc;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.js-social-proof.social-proof-container.txt-base-small.cf.padding-al
{
    background-color: #1D1D1D !important;
}

.is-inverted-dark .btn-alt
{
    background-color: #1D1D1D !important;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.js-social-proof.social-proof-container.txt-base-small.cf.padding-al > p.pull-left
{
    color: #ccc;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.js-social-proof.social-proof-container.txt-base-small.cf.padding-al > p.social-proof-names.pull-right
{
    color: #ccc;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.prf-meta.cf > ul
{
    color: #ccc;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.prf-meta.cf > ul > li > a > strong
{
    color: #ccc;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.prf-meta.cf > ul:hover
{
    color: #fff
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.prf-meta.cf > div > div > div > span > button > i
{
    color: #fff;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.js-profile-columns > ul > li > a
{
    border-color: #1D1D1D;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.prf-meta.cf > div > div > button > div.label.js-action-profile.action-text.thats-you-text
{
    color: #fff !important;
}

/* Profile tweets fix */

.js-detail-content
{
    padding-bottom: 0px !important;
}

.scroll-conversation
{
    background: #1D1D1D !important;
}

.js-tweet.tweet-detail
{
    color: #ccc;
}

.tweet-detail-wrapper
{
    background-color: #1D1D1D !important;
    border-color: #1D1D1D !important;
}

.mdl-dismiss
{
    color: #ccc !important;
}

.mdl
{
    border-radius: 0px;
}

#open-modal > div > div > div > div > div.js-left-pinned.pin-top > form > div > input
{
    background-color: #1D1D1D !important;
    color: #ccc;
}
/* Settings fix */

.lst-group .js-setting-list
{
    color: #ccc;
}

.mdl-col-settings
{
    background-color: #1D1D1D;
}

.frm
{
    color: #ccc;
}

.is-inverted-dark .list-link, .is-inverted-dark .list-twitter-list, .is-inverted-dark .list-subtitle, .is-inverted-dark .list-account, .is-inverted-dark .list-listmember
{
    color: #ccc;
}

.list-link, .list-twitter-list, .list-subtitle, .list-account, .list-listmember, .list-account, .list-listaccount, .list-subtitle, .list-filter
{
    color: #ccc;
}

.btn
{
    border-color: #1D1D1D !important;
}
/* Column options hotfix */

.column-options
{
    top: 4px !important;
    background-color: #1D1D1D;
}

.is-options-open .column-settings-link
{
    background-color: #1D1D1D;
}

.column-message
{
    background-color: #1D1D1D;
}


/* Legacy code */

.application, .app-content, .app-columns-container
{
    background-color: #1D1D1D;
}

.column
{
    background: #1D1D1D;
    border-radius: 6px;
    border: none;
}

.column-header, .column-header-temp
{
    background: #1D1D1D;
    background-color: #1D1D1D;
    z-index: 2;
    border-bottom-color: transparent;
}

.column-content
{
    top: 0px;
}

.column-options
{
    top: 50px;
}

.scroll-conversation, .column-nav-item, .app-navigator, .app-title, .compose-reply-tweet, .compose-account, .facet-type.is-expanded, .column-options .button-tray, .compose .antiscroll-scrollbar, .account-row-separator-b:after
{
    background-color: transparent;
}

.detail-view-inline
{
    border-top: none;
}

.app-header
{
    background-color: #1D1D1D;
}

.with-nav-border-t:before, .facet-type-thumb-size, .accordion-divider-t
{
    border-top: none;
}

.numbered-badge-onnav
{
    border: none;
}

.compose, .bg-r-light-gray
{
    background: linear-gradient( to right, #1D1D1D, #1D1D1D);
    color: #fff;
}

.compose-remember-state, .character-count-compose:disabled, .txt-r-text-link
{
    color: white;
}

.is-selected.compose-account, .compose-account-selected
{
    box-shadow: none;
}

.drawer-header
{
    border-bottom: none;
    z-index: 2;
    background-color: #1D1D1D;
}

.drawer-header:after
{
    height: 0px;
}

.txt-r-dark-gray
{
    color: #fff;
}

.drawer-content
{
    top: 0px;
    z-index: 1;
    padding-top: 55px;
}

.drawer .tweet-text
{
    color: white
}

.btn-positive-on-blue[disabled], .btn-positive-on-blue[disabled]:hover, .btn-positive-on-blue[disabled]:active, .btn-positive-on-blue.is-disabled, .btn-positive-on-blue.is-disabled:hover, .btn-positive-on-blue.is-disabled:focus, .btn-positive-on-blue.is-disabled:active, .btn-on-blue[disabled], .btn-on-blue[disabled]:hover, .btn-on-blue[disabled]:active, .btn-on-blue.is-disabled, .btn-on-blue.is-disabled:hover, .btn-on-blue.is-disabled:focus, .btn-on-blue.is-disabled:active, .btn[disabled], .btn[disabled]:hover, .btn[disabled]:active, .btn.is-disabled, .btn.is-disabled:hover, .btn.is-disabled:focus, .btn.is-disabled:active
{
    border-color: transparent;
    background-color: transparent;
    color: transparent;
}

.btn-positive-on-blue, .btn:active, .btn.is-selected
{
    color: #fff;
    background-color: transparent;
    box-shadow: none;
    font-weight: bold;
}

.btn-on-blue, .btn-positive, .btn-positive-alt, .s-following .follow-btn, .attach-compose-buttons .tweet-button
{
    color: #fff;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.btn-positive-on-blue:hover, .btn-positive-on-blue:focus, .btn-positive:hover, .btn-positive-alt:hover, .btn-fav.s-favorited:hover, .s-following .follow-btn:hover, .btn-positive:focus, .btn-positive-alt:focus, .btn-fav.s-favorited:focus, .s-following .follow-btn:focus, .btn-on-blue:focus, .btn-on-blue:hover, .btn-on-blue:focus, .btn-on-blue:hover, .btn:hover, .btn:focus
{
    color: grey;
    background-color: transparent;
    border-color: transparent;
}

.compose-text-container
{
    margin-left: 0px;
    margin-right: 0px;
    border: 1px solid #ddd;
}

.btn
{
    background-color: transparent;
    color: #fff;
    opacity: 0.6;
    border: none;
}

.btn-negative
{
    color: #A00;
}

.app-search-fake
{
    color: #fff;
    opacity: 0.6;
    background-color: transparent;
    box-shadow: none;
}

.app-search-input
{
    border-radius: 6px;
    background-color: white;
    box-shadow: none;
}

.inline-reply
{
    background-color: transparent;
}

.inline-reply .icon
{
    color: #fff;
}

.med-fullpanel
{
    background-color: transparent;
}

.mdl
{
    box-shadow: none;
    background-color: #1D1D1D;
    border-radius: 6px;
}

.mdl-content
{
    border: none;
    background: #1D1D1D;
    color: white
}

.mdl-column-med
{
    background: transparent;
}

.mdl-column-rhs
{
    border-left: transparent;
    background-color: #1D1D1D
}

.mdl-column-rhs .stream-item
{
    background-color: #1D1D1D
}

.mdl-dismiss-media, .is-inverted-light .mdl-dismiss-media
{
    color: #fff
}

.mdl-dismiss-media:hover, .is-inverted-light .mdl-dismiss-media:hover, .mdl-dismiss-media:focus, .is-inverted-light .mdl-dismiss-media:focus
{
    color: grey;
}

.is-inverted-light, .is-inverted-light .account-link
{
    color: #292F33;
}

.tweet-stats
{
    border-top: none;
}

.tweet-detail-actions
{
    border-top: none;
}

.detail-view-inline-text, .input-group-button
{
    border: none;
}

.cmp-replyto
{
    background-color: transparent;
    border-top: none;
}

.accs li, .accs .acc-selected, .accs .acc-selected:hover
{
    border: none;
    background: none;
}

.accs li:hover
{
    background: transparent;
}

.accs .icon
{
    color: grey;
}

.accs .acc-selected i
{
    color: #fff;
}

.is-inverted-light a
{
    color: #fff;
}

.is-inverted-light a:hover, .is-inverted-light a:focus, .is-inverted-light a:active
{
    color: grey;
    text-decoration: none;
}

a
{
    color: #2daabd;
    text-decoration: none;
}

a:hover, a:focus, a:active
{
    color: #aaaaaa;
    text-decoration: none;
}

.is-selected .reply-triangle
{
    visibility: hidden;
}

.prf-header
{
    background-image: none;
}

input, textarea, select, .uneditable-input
{
    border: none;
}

.btn-neutral-negative
{
    color: #dd2e44;
}

.prf-stats li + li a
{
    border-left: none;
}

.prf-actions, .social-proof-container
{
    background-color: #fff;
}

.is-options-open .column-settings-link
{
    border-color: transparent;
}

.app-search-tweet-results .column-header-temp
{
    background: linear-gradient( to bottom, #fff, rgba(255, 255, 255, 0.9));
    height: 50px;
}

.avatar, .prf-img
{
    border-radius: 20%;
}

.social-proof-for-tweet-title
{
    background-color: transparent;
    border-bottom: none;
}

.column-nav-link:hover, .app-nav-link:hover
{
    color: #fff;
}

.is-inverted-light .tweet-action, .is-inverted-light .tweet-detail-action
{
    color: #fff;
}

.is-inverted-light .tweet-action:hover, .is-inverted-light .tweet-detail-action:hover, .is-inverted-light .tweet-action:focus, .is-inverted-light .tweet-detail-action:focus
{
    color: grey;
}

.column-content
{
    padding-top: 50px;
}

.column-temp .column-header, .column-header-temp
{
    border-bottom: none;
}

.is-new .column-type-icon
{
    color: #fff;
}

.txt-mute a:hover, .txt-mute a:focus
{
    color: #fff;
}

.link-complex:hover .link-complex-target, .link-complex:focus .link-complex-target, .link-complex:active .link-complex-target
{
    text-decoration: none;
}

.icon-user-switch:hover
{
    color: #fff;
}

.list-item:hover, .list-item:active, .list-item.is-selected, .list-item:hover .list-icon, .list-item:active .list-icon, .list-item.is-selected .list-icon
{
    color: #fff;
    background-color: transparent;
}

.is-selected-tweet
{
    background-color: rgba(123, 183, 227, 0.1);
}

#open-modal .tweet-body
{
    color: white
}

#open-modal .fullname
{
    color: white
}


.lst-group .selected
{
    border-radius: 0px
}

.column-nav-flyout .column-nav-item
{
    background-color: #1D1D1D
}

.column-nav-flyout .column-nav-item span
{
    color: white
}

.btn span, .mdl-header-title, .mdl-inner .column-head-title
{
    color: white
}

.compose-reply-tweet .fullname
{
    color: #fff
}

.compose-reply-tweet .icon-close:before
{
    color: white
}

.list-account
{
    text-shadow: none;
}

#open-modal li:hover:not(.selected) .fullname
{
    color: black
}

#open-modal li .list-account
{
    border-radius: 0px
}

#open-modal li:hover.selected .list-account
{
    background: grey
}

#open-modal li:hover.selected .fullname
{
    color: #fff
}

.btn span, .mdl-header-title, .mdl-inner .column-head-title
{
    color: white
}

/* Column Header Condensing; this was originally written by pixeldesu */


.column-header
{
    height: 30px;
    line-height: 30px;
}

.js-tweet-results .column-header
{
    height: 50px;
    line-height: 50px;
}

.column-content
{
    top: 30px;
}


/* Fixes to DM compose box */

.rpl textarea
{
    background: #1D1D1D;
    border-color: #1D1D1D;
    color: #ddd;
    overflow: hidden;
}

input, textarea, select
{
    background-color: #1D1D1D !important;
    color: #ddd !important;
    border-color: #1D1D1D;
}
/* Dropdown menu fixes */

.dropdown-menu
{
    background-color: #1D1D1D;
    border-color: #1D1D1D;
}
/* Fix button compose shadow */

.btn-compose
{
    box-shadow: 1px 1px 0 rgba(255, 255, 255, 0)
}

/* Selected accounts fixes */

.column-number
{
    display: none;
}

.bg-r-white
{
    background-color: #1D1D1D
}

/* quoted tweet border */

.quoted-tweet
{
    background: transparent;
    border: transparent;
}
/* username in column fix */

.btd-ready .column-title .attribution
{
    font-size: 10px;
}

.column-message
{
    background: transparent;
}

/* Fixed toggle switch color */

.toggle-switch-input:checked+.toggle-switch-label:before
{
    background-color: #fff;
}

.js-dismiss:hover + .s-profile .prf-card-inner
{
    opacity: 0!important;
    color: rgba(0, 0, 0, 0)!important;
}

.prf-card-inner
{
    transition: 1s;
}

input, textarea, select
{
    background-color: transparent !important;
    color: #ddd !important;
    border-color: transparent;
}

.pull-left.neg-margin-lm
{
    margin-top: -30px;
}

.popover
{
    z-index: 100;
    position: absolute;
    background-color: #1D1D1D;
}

.icon-more.txt-right
{
    color: #fff;
}

.icon.icon-xsmall.icon-dot.column-nav-updates
{
    color: #fff;
}

.accs-header {
    margin-left: -20px;
}

.sprite-drag {
    display: none;
}

.js-modal-panel {
    background-color: rgba(0, 0, 0, .0);
}

.is-retweet .tweet-text a {
    color: #71b332;
}
.is-favorite .tweet-text a {
    color: #ED5A7F;
}
.is-retweet.is-favorite .tweet-text a {
    color: #ED5A7F;
}

.column-type-icon
{
    display: none;
}

.app-search-tweet-results .column-header-temp {
    background: #1D1D1D;
    height: 30px;
    line-height: 30px;
    color: #D1D1D1; 
}

.column-background-fill, .icon, .txt-base-small, .is-inverted-dark, .facet-type-engagement.is-active, .accordion .is-active, .accordion-header, .accordion, .is-active, .accordion-header:hover, .is-inverted-dark, .accordion, .is-active, .control-group, .padding-hl {
    background: #1D1D1D;
    color: #D1D1D1;
}

.tweet-avatar {
    border-radius: 100px;
}
.avatar {
    border-radius: 100px;
}
.size24 {
    border-radius: 100px;
}
.size72 {
    border-radius: 100px;
}
.prf-img {
    border-radius: 100px;
}

.js-column-drag-handle, .app-title {
    display: none;
}

.app-navigator {
    bottom: 0px;
}

.compose {
  background-image: url('https://u.thebitstick.xyz/f/0E0847.png')!important;
  background-size: auto 100%;
  background-position: center bottom;
  box-shadow: inset -3px 0 75px 1px rgba(0,0,0,.7)!important;
}

.compose-header div, .compose-header i {
  background-color: transparent;
}

.compose button, .composer textarea {
  background-color: rgba(0,0,0,.5)!important;
  border: 2px groove black!important;
}

.is-narrow-columns .app-columns {
    padding-top: 1px;
    padding-left: 1px;
}

.pull-left.neg-margin-lm {
    margin-top: -1px;
}
}
