@-moz-document url-prefix("https://tweetdeck.twitter.com/") {
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400);
body
{
    font-family: 'Open Sans', sans-serif;
}

.is-inverted-dark
{
    font-family: "Open Sans", sans-serif;
}

.column-header,
.column-header-temp
{
    background-color: #1D1D1D;
}

.app-header
{
    background-color: #1D1D1D;
}

a
{
    color: #2daabd;
    text-decoration: none;
}

.js-dismiss:hover + .s-profile .prf-card-inner
{
    opacity: 0!important;
    color: rgba(0, 0, 0, 0)!important;
}

.prf-card-inner
{
    transition: 1s;
}

.med-fullpanel
{
    background-color: rgba(0, 0, 0, .0);
}

.is-retweet .tweet-text a
{
    color: #71b332;
}

.is-favorite .tweet-text a
{
    color: #ED5A7F;
}

.is-retweet.is-favorite .tweet-text .stream-item a
{
    color: #fff;
}

.column-background-fill,
.icon,
.txt-base-small,
.control-group,
.padding-hl
{
    background: #1D1D1D;
    color: #D1D1D1;
}

.compose
{
    background-image: url('https://u.thebitstick.xyz/f/0E0847.png')!important;
    background-size: auto 100%;
    background-position: center bottom;
    box-shadow: inset -3px 0 75px 1px rgba(0, 0, 0, .7)!important;
}

.compose-header div,
.compose-header i
{
    background-color: transparent;
}

.compose button,
.composer textarea
{
    background-color: rgba(0, 0, 0, .5)!important;
    border: 2px groove black!important;
}

.is-narrow-columns .app-columns
{
    padding-top: 1px;
    padding-left: 1px;
}

.icon
{
    background-color: transparent;
}

.is-wide-columns .column
{
    width: 350px;
    margin-right: 1px;
}

.is-wide-columns .app-columns
{
    padding-top: 1px;
    padding-left: 1px;
}

.is-narrow-columns .app-columns
{
    padding-top: 1px;
    padding-left: 1px;
}

.app-columns
{
    padding: 1px 0 1px 1px;
}

.js-column
{
    margin: 0 1px 0 0;
}

.is-narrow-columns .column
{
    margin-right: 1px;
}

.stream-item
{
    font-size: 13px;
    background-color: #1D1D1D;
}

.app-navigator,
.sprite-logo-badge,
.app-title
{
    background-color: #1D1D1D;
}

.tweet-avatar
{
    border-radius: 30%;
}

.js-column-header
{
    height: 30px;
    line-height: 30px;
}

.column-header
{
    height: 30px;
    line-height: 30px;
}

.js-tweet-results .column-header
{
    height: 50px;
    line-height: 50px;
}

.column-drag-handle
{
    height: 15px;
}

.column-content
{
    top: 30px;
}

.column-title-back .icon
{
    top: 50%;
}

.js-compose-text,
.compose-text-container
{
    color: #000;
    font-size: 14px;
}

.prf-actions
{
    background-color: #171717 !important;
}

.prf-meta.cf
{
    background-color: #171717 !important;
}

.prf .lst-profile span
{
    color: #ccc;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.js-social-proof.social-proof-container.txt-base-small.cf.padding-al
{
    background-color: #171717 !important;
}

.is-inverted-dark .btn-alt
{
    background-color: #171717 !important;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.js-social-proof.social-proof-container.txt-base-small.cf.padding-al > p.pull-left
{
    color: #ccc;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.js-social-proof.social-proof-container.txt-base-small.cf.padding-al > p.social-proof-names.pull-right
{
    color: #ccc;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.prf-meta.cf > ul
{
    color: #ccc;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.prf-meta.cf > ul > li > a > strong
{
    color: #ccc;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.prf-meta.cf > ul:hover
{
    color: #55acee
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.prf-meta.cf > div > div > div > span > button > i
{
    color: #55acee;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.js-profile-columns > ul > li > a
{
    border-color: #171717;
}

body > div.js-modals-container > div > div > div > div > div > div.prf-actions > div.prf-meta.cf > div > div > button > div.label.js-action-profile.action-text.thats-you-text
{
    color: #55acee !important;
}
}
